/* Hum yahan saari default browser styling ko reset kar rahe hain */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* Yahan hum apni premium theme apply kar rahe hain */
body {
  /* Yeh hai hamara Dark Navy Blue background color */
  background-color: #1A1A2E; 

  /* Yeh hai hamara Off-White text color */
  color: #EFEFEF; 
}

a {
  color: inherit;
  text-decoration: none;
}